@media screen and (max-width: 768px) {
    .mb {
        flex-direction: column;
        gap: 15px;
    }

    .mobile-filter-button {
        display: none !important;
      }

      .mobileQuiz{
        margin-bottom: 76px;
      }

    .box-sign-in {
        padding: 24px !important;
    }

    .point-value{
        font-size: 11px !important;
    }

    .titleNiso{
        font-size: 11px !important;
    }

    .valueNiso{
        font-size: 11px !important;
    }

    .containers {
        border-radius: 12px !important;
        margin: 0 1rem !important;
    }

    .mb-c {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .flex-c {
        display: flex;
        justify-content: space-between;
    }

    .margin {
        display: block !important;
    }

    .background {
        display: none !important;
    }

    .center-report-login-niso {
        background-color: rgb(252, 244, 229) !important;
        background-image: url('../assets/shop_mobile.png') !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-position: bottom center !important;
    }


    .mobile__slider__niso {
        display: none !important;
    }

    .list-mb {
        display: block !important;
    }

    .back-to-top {
        display: none;
    }

    .hide_logo_niso {
        display: none;
    }

    .abcss {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .mb_banks_Niso {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .option__login {
        display: none !important;
    }

    .ms {
        justify-content: center !important;
    }

    .ma {
        display: none !important;
    }

    .rps {
        flex-direction: column !important;
    }

    .mmo2 {
        display: block !important;
    }

    .hide_niso_home {
        width: 120px !important;
    }

    .m {
        display: none !important;
    }

    .home-niso-box {
        flex-direction: column !important;
    }

    .hide_niso_home_name {
        width: 130px !important;
    }

    .with__lg {
        font-size: 14px !important;
    }

    .hine__floadt_screen__niso {
        display: none;
    }

    .ReportViewer {
        height: calc(80vh - 64px) !important;
        margin-top: 0;
    }

    .size-top__niso {
        margin-top: 88px !important;
    }

    .mg__size {
        margin: 88px 0px 10px 0px !important;
    }

    .okla {
        display: block !important;
    }

    .saves {
        display: none !important;
    }

    .active {
        border-bottom: none !important;
    }

    .khung__niso_containers {
        padding: 0 10px 0px 10px !important;
    }

    .footer_niso_mobile {
        font-size: 11px !important;
    }

    .size-upload-Niso {
        font-size: 11px !important;
    }

    .btn__niso {
        display: none !important;
    }

    :where(.css-dev-only-do-not-override-m4timi).ant-list .ant-list-item {
        flex-wrap: unset;
    }

    :where(.css-dev-only-do-not-override-m4timi).ant-list .ant-list-item .ant-list-item-action {
        margin-inline-start: 0px;
    }

    .layout__container5 {
        padding-top: 64px;
    }

    .box-niso-time-point {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        white-space: nowrap;
        row-gap: 15px;
    }

    .layout__container {
        padding: 10px !important;
        padding-top: 20px !important;
    }

    .btn-cm-niso {
        display: none;
    }

    .bnl {
        flex-direction: column !important;
    }

    .ifmbn {
        height: 300px !important;
    }

    .gon_niso p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 120px;
    }

    .nina__niso2 {
        display: none !important;
    }

    .nina__niso {
        display: flex !important;
    }

    .hidden__niso_time {
        display: none;
    }

    .gon_nisso {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px !important;
    }

    :where(.css-dev-only-do-not-override-1uq9j6g).ant-list .ant-list-item {
        flex-wrap: wrap;
    }

    .layout3 {
        height: auto !important;
    }

    .sc {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dbhidden {
        display: block !important;
    }

    .text-mb-niso {
        font-size: 11px;
    }

    .layout_main_niso{
        padding: 10px !important;
    }

    .layout__container2 {
        padding: 84px 10px 10px 10px !important;
    }

    .layout__container7 {
        padding: 0 0 10px 0 !important;
    }

    :where(.css-dev-only-do-not-override-p8b6i).ant-list-vertical .ant-list-item {
        flex-wrap: nowrap;
    }

    .layout__container4 {
        padding: 20px 10px 10px 10px !important;
    }

    .dfdfs {
        text-align: center !important;
    }

    .layout__container3 {
        padding: 20px 10px 10px 10px !important;
    }

    .mobile__layout__home {
        flex-direction: column !important;
        gap: 15px;
        align-items: unset !important;
    }

    .tab__mb__niso {
        padding: 5px !important;
    }

    .img__niso__create {
        width: 100% !important;
    }

    .padding__mobile__layout__niso {
        padding: 10px;
    }

    .im__niso__ly {
        font-size: 11px !important;
        white-space: nowrap;
    }

    .create__button {
        display: none !important;
    }

    .mobile__slider {
        display: none !important;
    }

    .layout__website__niso {
        margin: 0px !important;
        padding: 0px !important;
    }

    .color-text {
        font-size: 24px !important;
    }

    .menu-mb {
        box-shadow: var(--main-boxshadow);
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px 5px;
        border-top-left-radius: var(--main-borderRadius);
        border-top-right-radius: var(--main-borderRadius);
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        z-index: 100;
    }

    .optionLogin {
        padding: 8px 30px !important;
    }

    .footer_none {
        display: none;
    }

    .color__niso_pahnquyen {
        display: none;
    }

    .Mobile__footer {
        display: block !important;
        padding-bottom: 65px;
        padding-top: 15px;
    }

    .ui {
        justify-content: space-between;
        display: flex;
        width: 100%;
    }

    .box-niso-time-users {
        font-size: 11px !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 15px;
        margin: 10px 5px !important;
    }

    .cgvxx {
        align-items: center;
        justify-content: center;
    }

    .cxvvdfs {
        text-align: center;
    }

    .profile-avatar {
        top: -25px;
        left: 50% !important;
        transform: translatex(-50%);
        align-items: center !important;
        flex-direction: column;
        justify-content: center;
    }

    .Tabs__Home__niso .ant-tabs-nav{
        padding-top: 10px !important;
        padding-left: 10px !important;
      }

    .profile-img {
        height: 100px !important;
        width: 100px !important;
    }

    .profile-name {
        margin: 5px 0 !important;
    }

    .profile-menu {
        padding-left: 0 !important;
        width: 100% !important;
        overflow: auto !important;
        justify-content: center !important;
        flex-direction: column;
    }
}

@media screen and (max-width: 300px) {
    .iicon__menu__niso {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 35px;
    }
}